.fixied-1,
.fixied-2 {
  z-index: 99;
  font-size: 13px !important;
  text-align: center;
  width: 129px;
  border-radius: 10px !important;
}

.fixied-1 {
  color: aliceblue;
}

.fixied-2 {
  color: #212121;
}

.fixied-1-posi {
  bottom: 10px;
}

.fixied-2-posi {
  bottom: 60px;
}
