.bg-header {
  background-image: url("../img/bg-header.png");
  background-size: cover;
  z-index: -2;
}

//navbar
.bg-navbar {
  background: transparent;
  box-shadow: none;
  padding-top: 13px;
}

.navbar-hover {
  font-size: 14px;
  transition: all 0.5s ease;
  &:hover {
    color: #fff !important;
  }
}

.widthLogo {
  width: 150px;
}

//headers
.btn-header {
  width: 11rem !important;
  font-size: 1rem !important;
  border-radius: 150px !important;
}
